/* About.css */
.typing-cursor {
    font-weight: bold;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .about {
    padding: 60px 20px;
    text-align: center;
    background-color: #1e1e1e; /* VSCode dark theme color */
    color: #d4d4d4;
    font-family: monospace;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
  