/* Services.css */

.services {
  background-color: #1e1e1e;
  font-family: monospace;
  color: white;
  font-size: 1.3rem;
  padding: 60px 20px;
  text-align: center;
  overflow: hidden; 
}

.service-ticker {
  font-size: 1rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  padding-top: 2rem;
}

.service-list {
  display: inline-flex;
  gap: 2rem;
  animation: scroll 60s linear infinite; 
}

.service-item {
  border: 1px solid #ddd;
  padding: 15px 25px;
  border-radius: 8px;
  min-width: 150px;
  margin: 0 10px;
  text-align: center;
  white-space: nowrap;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}
